*data/images*
*wholeModel*
*locations*
*ECFP.pickle
*ECFP.txt
*layer*
*data.zip
*traindata*
*testdata*
*nohup*
*.sdf
*data400.zip
*Model*
*INN*
*solubility/*
*ecfp/*
*OCRfeatures/*
*ocr/*
*data/*.zip
*evaluation/*
*data/cidsF*
*data/sdf.zip
